{% extends 'core/base.html' %}

{% block title %}
Добавить оператора в Б/Д
{% endblock %}


{% block content %}
    <h1>Это страница добавления оператора в б/д</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.user_nickname }}<br>
        {{ form.user_name }}<br>
        {{ form.user_lastname }}<br>
        {{ form.user_patronymic }}<br>
        <p>----------------------</p>
        {{ form.user_birthday }}<br>
        {{ form.user_registration }}<br>
        <p>----------------------</p>
        {{ form.user_phone }}<br>
        {{ form.user_email }}<br>
        {{ form.user_photo }}<br>
        {{ form.user_rang }}<br>

        <button type="submit" class="btn btn-success">Оператора в Б/Д</button>
        <span>{{ error }}</span>
    </form>

{% endblock %}