{% extends 'core/base.html' %}


{% block content %}
    <h2>Страница приема заявок ФИЗИЧЕСКИХ ЛИЦ</h2>

<form method="post">
    {% csrf_token %}
<div class="col-md-7 col-lg-8">

  <hr class="my-4">
        <div class="row g-3">
            <div class="col-sm-3">
              <font color="blue">
              <label for="ddate" class="form-fields-group-label">Дата приема заявки</label></font>
              <input type="text" class="form-control" id="ddate" placeholder="00-00-0000" value="" required="">
              <div class="invalid-feedback">
                Дата приема заявки.
              </div>
            </div>

            <div class="col-sm-3">
              <font color="blue">
              <label for="dnomer" class="form-fields-group-label">Номер заявки</label></font>
              <input type="text" class="form-control" id="dnomer" placeholder="000/0000" value="" required="">
              <div class="invalid-feedback">
                Номер заявки.
              </div>
              </div>
        </div>



  <hr class="my-4">


        <h4 class="mb-3">Данные заявители:</h4>
        <form class="needs-validation was-validated" novalidate="">
          <div class="row g-3">

             <div class="col-sm-6">
              <label for="lastName" class="form-label">Фамилия:</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Действительная фамилия обязательна.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="firstName" class="form-label">Имя:</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Действительное имя обязательна.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Отчество:</label>
              <input type="text" class="form-control" id="patronymic" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Действительное отчество обязательна.
              </div>
            </div>

  <hr class="my-4">
  <h4 class="mb-3">Контактные данные заявителя:</h4>

            <div class="col-12">
              <label for="phone1" class="form-label">Телефон <span class="text-muted">(Optional)</span></label>
              <input type="phone" class="form-control" id="phone1" placeholder="8-917.......">
              <div class="invalid-feedback">
                Введите основной контактый телефон.
              </div>
            </div>

            <div class="col-12">
              <label for="phone2" class="form-label">Телефон <span class="text-muted">(Optional)</span></label>
              <input type="phone" class="form-control" id="phone2" placeholder="8-917.......">
              <div class="invalid-feedback">
                Введите дополнительный контактый телефон.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Укажите email для связи.
              </div>
            </div>


  <hr class="my-4">

            <div class="col-12">
              <label for="address" class="form-label">Адрес</label>
              <input type="text" class="form-control" id="address" placeholder="г. Нижнекамск, пр-кт. Химиков, д.1, кв.2" required="">
              <div class="invalid-feedback">
                Адрес прописки.
              </div>
            </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="address2">Адрес прописки совпадает с фактическим адресом</label>
          </div>

            <div class="col-12">
              <label for="address2" class="form-label">Адрес фактический<span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="в случае необходимости">
            </div>

          </div>

  <hr class="my-4">

          <h4 class="mb-3">Согласие на обработку персональных данных</h4>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="approval">
            <label class="form-check-label" for="same-address">Согласие на обработку персональных данных</label>
          </div>

  <hr class="my-4">

          <h4 class="mb-3">Паспортные данные</h4>

            <div class="col-sm-6">
              <label for="snumber" class="form-label">Серия-номер</label>
              <input type="text" class="form-control" id="snumber" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Серия и номер паспорта.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="dpasport" class="form-label">Дата выдачи</label>
              <input type="text" class="form-control" id="dpasport" placeholder="00-00-0000" value="" required="">
              <div class="invalid-feedback">
                Дата выдачи паспорта.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="provided" class="form-label">Кем выдан</label>
              <input type="text" class="form-control" id="provided" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Кем выдан паспорт.
              </div>
            </div>

  <hr class="my-4">
  <hr class="my-4">
  <hr class="my-4">
  <hr class="my-4">

          <h4 class="mb-3">Документы</h4>

            <form enctype="multipart/form-data" method="post">

   <p>Скан паспорта</p>
   <p><input type="file" name="photo" accept="jpeg/png/pdf">
   <input type="submit" value="Сохранить"></p>

   <p>Скан свидетельства о регистрации объекта</p>
   <p><input type="file" name="photo" accept="jpeg/png/pdf">
   <input type="submit" value="Сохранить"></p>

   <p>Скан выписки ЕГРН</p>
   <p><input type="file" name="photo" accept="jpeg/png/pdf">
   <input type="submit" value="Сохранить"></p>

  </form>

            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->
            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->
            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->
            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->
            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->
            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->
            <!--<button type="button" class="btn btn-outline-secondary">Secondary</button><br>-->

          <div class="my-3">

  <hr class="my-4">
  <hr class="my-4">
  <hr class="my-4">
  <hr class="my-4">









          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Принять заявку</button>
        </form>

    </form>
      </div>

{% endblock %}