{% extends 'core/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}


{% block content %}
    <h1>Страница приема заявок</h1>

<script>
$(document).ready(function() {
  $(".form-check").change(function() {

    if ($('#apllicant_fiz').prop("checked")) {
      $('#hide').fadeIn(300);
    } else {
      $('#hide').fadeOut(300);
    }

  });
});
</script>


<div class="d-flex gap-5 justify-content-left">
  <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px">

      <div class="my-3">
            <div class="form-check">
              <input id="apllicant_fiz" name="optionsRadios" value="option1" type="radio" class="form-check-input" checked="True" required="">
              <label class="form-check-label" for="apllicant_fiz">Физическое лицо</label>
            </div>
            <div class="form-check">
              <input id="applicant_org" name="optionsRadios" value="option2" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="apllicant_org">Юридическое лицо</label>
            </div>
      </div>


    <form class="p-2 mb-2 bg-light border-bottom">
      <input type="search" class="form-control" autocomplete="false" placeholder="Фамилия">
    </form>
    <form class="p-2 mb-2 bg-light border-bottom">
      <input type="search" class="form-control" autocomplete="false" placeholder="Имя">
    </form>
    <form class="p-2 mb-2 bg-light border-bottom">
        <div id="hide" style="display:none;">
            <input type="search" class="form-control" autocomplete="false" placeholder="Отчество"></div>
    </form>
      <br>








    <ul class="list-unstyled mb-0">
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-success rounded-circle p-1"></span>
        Action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-primary rounded-circle p-1"></span>
        Another action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-danger rounded-circle p-1"></span>
        Something else here
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-info rounded-circle p-1"></span>
        Separated link
      </a></li>
    </ul>
  </div>








{% endblock %}